/* ===== Scrollbar CSS ===== */
/* Firefox */
.details-scroll {
  scrollbar-width: auto;
  scrollbar-color: #383645 #e2e8f0;
}

/* Chrome, Edge, and Safari */
.details-scroll::-webkit-scrollbar {
  width: 16px;
}

.details-scroll::-webkit-scrollbar-track {
  background: #e2e8f0;
}

.details-scroll::-webkit-scrollbar-thumb {
  background-color: #383645;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.custom-card-container {
  height: 24rem;
}